<%= stylesheet_link_tag "stylesheets" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<h1> The final winnner is: </h1>

<h2 class="winner"><%= @winner.name %> </h2><br>
<% if @winner.race == "Human" %> 
        <%= image_tag("/images/human.png", width: 50) %>
        <% elsif @winner.race == "Orc" %>
        <%= image_tag("/images/orc.png", width: 50) %>
        <% elsif @winner.race == "Goblin" %>
        <%= image_tag("/images/goblin.png", width: 50) %>
        <% else%>
        <%= image_tag("/images/elf.png", width: 50) %>
<%end%>
<br>
        <% if @winner.status == 1 %> 
        <%= image_tag("/images/pitchfork.png", width: 80) %>
        <% elsif @winner.status == 2 %>
        <%= image_tag("/images/sword.png", width: 80) %>
        <% else %>
        <%= image_tag("/images/crown.png", width: 80) %>
        <%end%>
<br>
        
<h3>
<%= @winner.exp %>
        <%- if @winner.exp < 50 %>
            <%= image_tag("/images/xp.png", width: 35) %>
        <% elsif @winner.exp < 100 %>
            <%= image_tag("/images/xp.png", width: 44) %>
        <% else %>
            <%= image_tag("/images/xp.png", width: 50) %>
        <% end %>
        <br>
</h3>
<h3>
<%= @winner.gold %>
        <%- if @winner.gold < 500 %>
            <%= image_tag("/images/coins_small.png", width: 50) %> 
        <% elsif @winner.gold < 1000 %>
            <%= image_tag("/images/coins_medium.png", width: 50) %> 
        <% else %>
            <%= image_tag("/images/coins_big.png", width: 50) %> 
        <% end %>
        <br>
</h3>
<h3>
Artifacts: 
<% if @winner.artifacts.empty? %> None <%end%>
        <%- @winner.artifacts.each do |art| %>
            <% if art.name == "Chalice of Greed" %> 
            <%= image_tag("/images/chalice.png", width: 50) %>
            <% elsif art.name == "Glove of Pride" %>
            <%= image_tag("/images/glove.png", width: 50) %>
            <% else %>
            <%= image_tag("/images/book.png", width: 50) %>
            <%end%>
        <%- end %>
</h3>
<br>
<br>
<div>
<h3>With a winstreak of <%= @winner.winstreak %>!</h3>
</div>
<div class="navbar">
<%= link_to "Home", '/' %>
</div>